<style>
  .main {
    height: 100vh;
    width: 100vw;
    background-color: #cfcfcf
  }
</style>

<main class="main">
  <div class='flex flex-col items-center justify-center mx-auto max-w-[80%] py-12'>
    <div class='flex flex-wrap flex-row gap-4 w-fit'>
      <pokemon-card *ngFor="let item of pokemon" [pokemon]="item" />
    </div>
    <div class='flex flex-row gap-16 p-12'>
      <button class='bg-white/50 rounded-lg px-4 py-2'(click)="getNextPage()">Next</button>
      <button class='bg-white/50 rounded-lg px-4 py-2'(click)="getPrevPage()" *ngIf="offset > 0">Prev</button>
    </div>
  </div>
</main>

<router-outlet />
