<style>
  .main {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #cfcfcf
  }
</style>

<main class="main">
  <div class='flex flex-col items-center justify-center mx-auto max-w-[80%] py-12'>
    <div class='flex flex-wrap flex-row gap-4 w-fit'>
      <pokemon-card *ngFor="let item of pokemon" [pokemon]="item" />
    </div>
    <div class='flex flex-row gap-16 p-12'>
      <button class='bg-white/50 rounded-lg px-4 py-2'(click)="getPrevPage()" *ngIf="offset > 0">Prev</button>
      <button class='bg-white/50 rounded-lg px-4 py-2'(click)="getNextPage()">Next</button>
      <select class='p-2 rounded-lg' (change)='changeLimit(limitSelect.value)' #limitSelect >
        <option value='10' [selected]="limit === 10">10</option>
        <option value='20' [selected]="limit === 20">20</option>
        <option value='30' [selected]="limit === 30">30</option>
      </select>
    </div>
  </div>
</main>

<router-outlet />
